{% from 'macros.html' import alert %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<title>{% block title %}{% endblock %} - Sharecipe</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
		{% endblock %}
	</head>
	<body>
		<div class="wrapper">
			<header>
				{% block header %}
				{#<h1 class="title"><a href="{{ url_for('index') }}">Sharecipe</a></h1>#}
				<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='header.png') }}"></a>
				{% endblock %}
			</header>

			<nav>
				<input type="checkbox" id="menu-checkbox">
				<label for="menu-checkbox">Menu</label>
				<ul>
					{% block nav %}
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('recipe.index') }}">Recipes</a></li>
					{#<li><a href="{{ url_for('social.index') }}">Social</a></li>#}
					<li><a href="{{ url_for('main.about') }}">About</a></li>
					{% if g.user %}
					<li class="nav-dropdown right">
						<button>Account</button>
						<div class="dropdown-content">
							<a href="{{ url_for('user.index', user_id=g.user['user_id']) }}">Profile</a>
							<a href="{{ url_for('account.index') }}">Settings</a>
							<a href="{{ url_for('auth.logout') }}">Log Out</a>
						</div>
					</li>
					{% else %}
					<li class="right"><a href="{{ url_for('auth.register') }}">Register</a></li>
					<li class="right"><a href="{{ url_for('auth.login') }}">Login</a></li>
					{% endif %}
					{% endblock %}
				</ul>
			</nav>

			<main>
				{% block main %}
				{% for category, message in get_flashed_messages(with_categories=true) %}
				{{ alert(message, class=category) }}
				{% endfor %}
				{% block heading %}
				<h1 class="title">{{ self.title() }}</h1>
				{% endblock %}
				<section>{% block content %}{% endblock %}</section>
				{% endblock %}
			</main>

			<footer>
				{% block footer %}
				<p>Copyright &copy; 2023 Joel Atkinson</p>
				{% endblock %}
			</footer>
		</div>
		
		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>
</html>

