{% from 'macros.html' import alert %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} - Sharecipe</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
		<link rel="manifest" href="/static/img/site.webmanifest">
		<link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#01346b">
		<link rel="shortcut icon" href="/static/img/favicon.ico">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="msapplication-config" content="/static/img/browserconfig.xml">
			<meta name="theme-color" content="#01346b">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
		<meta name="author" content="Joel Atkinson">
		<meta name="description" content="{% block meta_description %}Find and share your recipes on Sharecipe.{% endblock %}">
		{% block meta_ogp %}
		<meta property="og:title" content="{% block meta_title %}{{ self.title() }}{% endblock %}">
		<meta property="og:url" content="{{ config['URL'] }}{{ request.path }}">
		<meta property="og:description" content="{{ self.meta_description() }}">
		<meta property="og:image" content="{{ config['URL'] }}{% block meta_image %}{{ url_for('static', filename='header.png') }}{% endblock %}">
		<meta property="og:type" content="{% block meta_type %}website{% endblock %}">
		<meta property="og:locale" content="en_GB">
		{% endblock %}
		{% endblock %}
	</head>
	<body>
		<div class="wrapper">
			<header>
				{% block header %}
				{#<h1 class="title"><a href="{{ url_for('index') }}">Sharecipe</a></h1>#}
				<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='header.png') }}"></a>
				{% endblock %}
			</header>

			<nav>
				<input type="checkbox" id="menu-checkbox">
				<label for="menu-checkbox">Menu</label>
				<ul>
					{% block nav %}
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('recipe.index') }}">Recipes</a></li>
					<li><a href="{{ url_for('social.index') }}">Social</a></li>
					<li><a href="{{ url_for('main.about') }}">About</a></li>
					{% if g.user %}
					<li class="nav-dropdown right">
						<button>Account</button>
						<div class="dropdown-content">
							<a href="{{ url_for('user.index', user_id=g.user['user_id']) }}">Profile</a>
							<a href="{{ url_for('account.index') }}">Settings</a>
							<a href="{{ url_for('auth.logout') }}">Log Out</a>
						</div>
					</li>
					{% else %}
					<li class="right"><a href="{{ url_for('auth.register') }}">Register</a></li>
					<li class="right"><a href="{{ url_for('auth.login') }}">Login</a></li>
					{% endif %}
					{% endblock %}
				</ul>
			</nav>

			{% for category, message in get_flashed_messages(with_categories=true) %}
			{{ alert(message, class=category) }}
			{% endfor %}
			
			<main>
				{% block main %}
				{% block heading %}
				<h1 class="title">{{ self.title() }}</h1>
				{% endblock %}
				<section class="{{ 'small' if small }}">{% block content %}{% endblock %}</section>
				{% endblock %}
			</main>

			<footer>
				{% block footer %}
				<p>Copyright &copy; 2023 Joel Atkinson | Version {{ config['VERSION'] }}</p>
				{% endblock %}
			</footer>
		</div>
		
		<script src="{{ url_for('static', filename='script.js') }}"></script>
		{% block scripts %}{% endblock %}
	</body>
</html>

