{% macro alert(message, class='error') -%}
<div class="alert {{ class }}">
	<input type="checkbox" class="close">
	<div class="content"><span>{{ message }}</span></div>
</div>
{%- endmacro %}

{% macro help(message, direction="right") -%}
<div class="help"><span class="{{ direction }}">{{ message }}</span></div>
{%- endmacro %}

{% macro render_form(form, name, action='', upload=False) -%}
<form method="post" action="{{ action }}" {{ 'enctype="multipart/form-data"'|safe if upload }}>
	{% for field in form %}
	{% if field.type in ['HiddenField', 'CSRFTokenField'] %}
	{{ field()|safe }}
	{% else %}
	<div>
		{{ field()|safe }}
		{{ field.label|safe }}
		<div class="help"><span class="right">{{ field.description }}</span></div>
		<div class="error">{% for error in field.errors %}<span class="error">{{ error }}</span>{% endfor %}</div>
	</div>
	{% endif %}
	{% endfor %}
	<input type="submit" value="{{ name }}">
</form>
{%- endmacro %}

{% macro render_field(field) -%}
<div>
	{{ field()|safe }}
	{{ field.label|safe }}
	{{ help(field.description) }}
	<div class="error">{% for error in field.errors %}<span class="error">{{ error }}</span>{% endfor %}</div>
</div>
{%- endmacro %}
	

{% macro field(name, label, help, error) -%}
<div>
	{{ caller(name) }}
	<label for="{{ name }}">{{ label }}</label>
	<div class="help"><span class="right">{{ help }}</span></div>
	<span class="error">{{ error[name] }}</span>
</div>
{%- endmacro %}

{% macro profile_pic(user, size=None) -%}
<img class="profile-pic {{ size if size else '' }}" src="{{ url_for('upload', filename=user['picture']) if user['picture'] else url_for('static', filename='profile.svg') }}">
{%- endmacro %}

{% macro user_link(user, seperator=True) -%}
<div class="user-link {{ 'seperator' if seperator }}">
	<div class="profile-pic-container">{{ profile_pic(user) }}</div>
	<a href="{{ url_for('user.index', user_id=user['user_id']) }}"><span>{{ user|name }}</span></a>
</div>
{%- endmacro %}

{% macro recipe_card(recipe) -%}
<div class="recipe-card">
		<h2><a href="{{ url_for('recipe.view', recipe_id=recipe['recipe_id']) }}">{{ recipe['title'] }}</a></h2>
		<p class="recipe-author">By <a href="{{ url_for('user.index', user_id=recipe['user_id']) }}">{{ recipe|name }}</a></p>
		<div class="recipe-info">
			{% if recipe['servings'] %}<span>Serves {{ recipe['servings'] }}</span>{% endif %}
			{% if recipe['time'] %}<span>{{ recipe['time'] }} minutes</span>{% endif %}
			{% if recipe['difficulty'] %}<span>{% if recipe['difficulty'] == 1 %}Easy{% elif recipe['difficulty'] == 2 %}Medium{% else %}Hard{% endif %}</span>{% endif %}
			{% if recipe['vegetarian'] %}<span class="vegetarian"></span>{% endif %}
			{% if not recipe['servings'] and not recipe['time'] and not recipe['difficulty'] and not recipe['vegetarian'] %}<span>No details</span>{% endif %}
		</div>
		<p class="recipe-description">{{ recipe['description'] if recipe['description'] else 'No description' }}</p>
	</div>

{%- endmacro %}

{% macro recipe_scroll(recipes, name, filters) -%}
<div class="scroll-box">
	<h3>{{ name }}</h3>
	<div class="scroll">
		{% for recipe in recipes %}
		<div class="scroll-card">{{ recipe_card(recipe) }}</div>
		{% endfor %}
		<div class="scroll-card">
			<h3><a href="{{ url_for('recipe.latest', **filters) }}">View more...</a></h3>
		</div>
	</div>
</div>
{%- endmacro %}


{% macro tab_view() -%}
<div class="tab-view">
	{{ caller() }}
</div>
{%- endmacro %}

{% macro tab(name, default=False) -%}
<a href="#" class="tab-button{{ ' active' if default }}">{{ name }}</a>
<div class="tab-content">{{ caller() }}</div>
{%- endmacro %}

{% macro tab_link(name, action) -%}
<a class="tab-link" href="{{ action }}">{{ name }}</a>
{%- endmacro %}

{% macro tab_seperator() -%}
<span class="tab-seperator"></span>
{%- endmacro %}

{% macro modal(name, title='') -%}
<div class="modal hidden" id="{{ name }}">
	<div class="modal-content">
		<a class="modal-close button close right round light"></a>
		<h1 class="modal-title">{{ title }}</h1>
		{{ caller() }}
	</div>
</div>
{%- endmacro %}

{% macro modal_button(name, label) -%}
<a class="modal-open button" data-modal="{{ name }}">{{ label }}</a>
{%- endmacro %}
