{% extends 'base.html' %}
{% block title %}Log In{% endblock %}

{% block content %}
<form method="post">
	<p class="error">{{ error['form'] }}</p>

	<div>
		<input name="username" id="username" maxlength="36" required>
		<label for="username">Username</label>
		<div class="help"><span class="right">Enter your username.</span></div>
		<span class="error">{{ error['username'] }}</span>
	</div>

	<div>
		<input type="password" name="password" id="password" maxlength="256" required>
		<label for="password">Password</label>
		<div class="help"><span class="right">Enter your password.</span></div>
		<span class="error">{{ error['password'] }}</span>
	</div>

	<input type="submit" value="Log In">
</form>
{% endblock %}
