{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<form method="post">
	<p class="error">{{ error['form'] }}</p>

	<div>
		<label for="username">Username</label>
		<span class="error">{{ error['username'] }}</span>
		<input name="username" id="username" maxlength="36" required>
	</div>

	<div>
		<label for="password">Password</label>
		<span class="error">{{ error['password'] }}</span>
		<input type="password" name="password" id="password" maxlength="256" required>
	</div>

	<div>
		<input type="submit" value="Register">
	</div>
</form>
{% endblock %}
