{% extends 'base.html' %}
{% from 'macros.html' import profile_pic, recipe_scroll, recipe_search, user_link %}
{% block title %}Home{% endblock %}

{% block meta_title %}Sharecipe{% endblock %}

{% block content %}
{% if g.user %}
<p>Welcome {{ g.user|name }}</p>
{% else %}
<p>Welcome to Sharecipe!  To get started, <a href="{{ url_for('auth.register') }}">register</a> or <a href="{{ url_for('auth.login') }}">sign in</a>.</p>
{% endif %}

<section>
	{{ recipe_search() }}
</section>

<section>
	{% if latest_recipes %}
	{{ recipe_scroll(latest_recipes, 'Latest Recipes', {}) }}
	{% endif %}
</section>

{% if top_chefs %}
<section>
	<div class="box">
	<h3>Top Chefs</h3>
	<div class="content">
	{% for chef in top_chefs %}
	{{ user_link(chef) }}
	{% endfor %}
	</div>
	</div>
</section>
{% endif %}
{% endblock %}
