{% extends 'base.html' %}
{% from 'macros.html' import recipe_card %}
{% block title %}Recipes{% endblock %}

{% block action %}
{% if g.user %}
<a class="button-right" href="{{ url_for('recipe.create') }}">Create Recipe</a>
{% endif %}
{% endblock %}

{% block content %}

<section>
	<form class="search" action="{{ url_for('recipe.search') }}" method="get">
		<input type="search" name="q" placeholder="Search recipes" value="{{ request.args['q'] }}" maxlength="100" required>
		<input type="submit" value="Search">
	</form>
</section>

{% if latest_recipes %}
<section class="scroll-box">
	<h3>Latest Recipes</h3>
	<div class="scroll">
		{% for recipe in latest_recipes %}
		<div class="scroll-card">{{ recipe_card(recipe) }}</div>
		{% endfor %}
		<div class="scroll-card">
		<h3><a href="{{ url_for('recipe.latest') }}">View more...</a></h3>
		</div>
	</div>
</section>
{% endif %}

{% if user_recipes %}
<section class="scroll-box">
	<h3>My Recipes</h3>
	<div class="scroll">
		{% for recipe in user_recipes %}
		<div class="scroll-card">{{ recipe_card(recipe) }}</div>
		{% endfor %}
		<div class="scroll-card">
		<h3><a href="{{ url_for('recipe.latest', user_id=g.user['user_id']) }}">View more...</a></h3>
		</div>
	</div>
</section>
{% endif %}
{% endblock %}
