{% extends 'base.html' %}
{% block title %}Update Recipe{% endblock %}

{% block content %}
<form method="post">
	<p class="error">{{ error['form'] }}</p>

	<div>
		<label for="title">Title</label>
		<div class="help"><span class="right">What do you call your recipe?</span></div>
		<span class="error">{{ error['title'] }}</span>
		<input name="title" id="title" value="{{ request.form['title'] or recipe['title'] }}" maxlength="100" required>
	</div>

	<div>
		<label for="description">Description</label>
		<div class="help"><span class="right">What do you call your recipe?</span></div>
		<span class="error">{{ error['description'] }}</span>
		<textarea name="description" id="description" rows="4" maxlength="400">{{ request.form['description'] or recipe['description'] }}</textarea>
	</div>

	<div>
		<label for="time">Time</label>
		<div class="help"><span class="right">How long does it take to make?</span></div>
		<span class="error">{{ error['time'] }}</span>
		<input type="number" name="time" id="time" value="{{ request.form['time'] or recipe['time'] }}" min="0">
	</div>

	<div>
		<label for="servings">Serves</label>
		<div class="help"><span class="right">How many people is this for?</span></div>
		<span class="error">{{ error['servings'] }}</span>
		<input type="number" name="servings" id="servings" value="{{ request.form['servings'] or recipe['servings'] }}" min="0">
	</div>

	<div>
		<label for="difficulty">Difficulty</label>
		<div class="help"><span class="right">Tell us the difficulty with 1 as the easiest and 3 being the hardest.</span></div>
		<span class="error">{{ error['difficulty'] }}</span>
		<input type="number" name="difficulty" id="difficulty" value="{{ request.form['difficulty'] or recipe['difficulty'] }}" min="1" max="3">
	</div>

	<div>
		<label for="vegetarian">Vegetarian</label>
		<div class="help"><span class="right">Is your recipe vegetarian?</span></div>
		<span class="error">{{ error['vegetarian'] }}</span>
		<input type="checkbox" name="vegetarian" id="vegetarian" value="vegetarian" {{ 'checked' if request.form['vegetarian'] }}>
	</div>

	<div>
		<label for="ingredients">Ingredients</label>
		<div class="help"><span class="right">Enter the ingredients for your recipe, each on a new line.</span></div>
		<span class="error">{{ error['ingredients'] }}</span>
		<textarea name="ingredients" id="ingredients" rows="20" maxlength="1000" required>{{ request.form['ingredients'] or recipe['ingredients'] }}</textarea>
	</div>

	<div>
		<label for="method">Method</label>
		<div class="help"><span class="right">Enter your instructions for your recipe, leaving a blank line between each instruction.</span></div>
		<span class="error">{{ error['method'] }}</span>
		<textarea name="method" id="method" rows="30" maxlength="4000" required>{{ request.form['method'] or recipe['method'] }}</textarea>
	</div>

	<div>
		<label for="tags">Tags</label>
		<div class="help"><span class="right">Enter comma seperated keywords for your recipe which users can search for.</span></div>
		<span class="error">{{ error['tags'] }}</span>
		<input name="tags" id="tags" value="{{ request.form['tags'] or recipe['tags'] }}" maxlength="100">
	</div>

	<input type="submit" value="Update Recipe">
</form>
{% endblock %}
