{% extends 'base.html' %}
{% from 'macros.html' import modal, profile_pic, render_form %}
{% block title %}{{ recipe['title'] }}{% endblock %}

{% block heading %}
{{ super() }}
{% if g.user and g.user['user_id'] == recipe['user_id'] %}
<div class="dropdown right">
	<button class="dropdown-button button round light">&#xFE19;</button>
	<div class="dropdown-content">
		<a href="{{ url_for('recipe.update', recipe_id=recipe['recipe_id']) }}" class="button light">Update</a>
		<a href="#" data-modal="upload-photo" class="modal-open button light">{{ 'Change photo' if recipe['photo'] else 'Add photo' }}</a>
		{% if recipe['photo'] %}<a href="#" data-modal="delete-photo" class="modal-open button light">Delete photo</a>{% endif %}
		<a href="#" data-modal="delete" class="modal-open button light error">Delete</a>
	</div>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if g.user and g.user['user_id'] == recipe['user_id'] %}

{% call modal('upload-photo', title='Upload Photo') %}
{{ render_form(upload_photo_form, 'Upload Photo', action=url_for('recipe.upload_photo', recipe_id=recipe['recipe_id']), upload=True) }}
{% endcall %}

{% if recipe['photo'] %}
{% call modal('delete-photo', title='Delete Photo') %}
<p>Are you sure you want to do this?</p>
{{ render_form(delete_photo_form, 'Delete Photo', action=url_for('recipe.delete_photo', recipe_id=recipe['recipe_id'])) }}
{% endcall %}
{% endif %}

{% call modal('delete', title='Delete') %}
<p>Are you sure you want to delete this recipe?</p>
{{ render_form(delete_form, 'Delete Recipe', action=url_for('recipe.delete', recipe_id=recipe['recipe_id'])) }}
{% endcall %}

{% endif %}

<div class="recipe">
<div class="recipe-details">
	<div class="recipe-info">
		{{ profile_pic(recipe['user_id']) }}
		<a href="{{ url_for('user.index', user_id=recipe['user_id']) }}"><span>{% if recipe['forename'] or recipe['surname'] %}{{ recipe['forename']}} {{ recipe['surname'] }}{% else %}{{ recipe['username'] }}{% endif %}</span></a>
	</div>

	{#<div class="recipe-info">
	<span>Created {{ recipe['created']|strftime('%d/%m/%Y') }}</span>
	{% if recipe['updated'] %}<span>Updated {{ recipe['updated']|strftime('%d/%m/%Y') }}</span>{% endif %}
	</div>#}

	<div class="recipe-info">
	<span>Serves {{ recipe['servings'] }}</span>
	<span>{{ recipe['time'] }} minutes</span>
	<span>{% if recipe['difficulty'] == 1 %}Easy{% elif recipe['difficulty'] == 2 %}Medium{% else %}Hard{% endif %}</span>
	{% if recipe['vegetarian'] %}<span class="vegetarian"></span>{% endif %}
	</div>

	{% if recipe['photo'] %}
	<div class="image-container">
		<img src="{{ url_for('upload', filename='photos/' + recipe['photo']) }}">
	</div>
	{% endif %}

	<div class="recipe-info"><span>{{ recipe['description'] }}</span></div>
	<div class="tags">{% for tag in tags %}<span>{{ tag }}</span>{% endfor %}</div>
</div>

<div class="recipe-instructions">
	<h2>Ingredients</h3>
	<ul>
		{% for ingredient in ingredients %}
		<li><p>{{ ingredient }}</p></li>
		{% endfor %}
	</ul>

	<h2>Method</h3>
	<ol>
		{% for instruction in method %}
		<li>
			{% for paragraph in instruction %}
			<p class="text">{{ paragraph }}</p>
			{% endfor %}
		</li>
		{% endfor %}
	</ol>
</div>
</div>
{% endblock %}
