{% extends 'base.html' %}
{% from 'macros.html' import recipe_card, recipe_scroll, recipe_search %}
{% block title %}Recipes{% endblock %}

{% block heading %}
{{ super() }}
{% if g.user %}
<a class="button right" href="{{ url_for('recipe.create') }}">Create Recipe</a>
{% endif %}
{% endblock %}

{% block content %}

<section>
	{{ recipe_search() }}
</section>

<section>
	{% if latest_recipes %}
	{{ recipe_scroll(latest_recipes, 'Latest Recipes', {}) }}
	{% endif %}
</section>

<section>
	{% if user_recipes %}
	{{ recipe_scroll(user_recipes, 'My Recipes', {'user_id': g.user['user_id']}) }}
	{% endif %}
</section>

<section class="center">
	<a href="{{ url_for('recipe.random') }}" class="button">Random Recipe</a>

{% endblock %}
