{% extends 'base.html' %}
{% from 'macros.html' import recipe_card, recipe_scroll %}
{% block title %}Recipes{% endblock %}

{% block heading %}
{{ super() }}
{% if g.user %}
<a class="button right" href="{{ url_for('recipe.create') }}">Create Recipe</a>
{% endif %}
{% endblock %}

{% block content %}

<section>
	<form class="search" action="{{ url_for('recipe.search') }}" method="get">
		<input type="search" name="q" placeholder="Search recipes" value="{{ request.args['q'] }}" maxlength="100" required>
		<input type="submit" value="Search">
	</form>
</section>

{% if latest_recipes %}
{{ recipe_scroll(latest_recipes, 'Latest Recipes', {}) }}
{% endif %}

{% if user_recipes %}
{{ recipe_scroll(user_recipes, 'My Recipes', {'user_id': g.user['user_id']}) }}
{% endif %}
{% endblock %}
