{% extends 'base.html' %}
{% from 'macros.html' import recipe_card, recipe_search %}
{% block title %}
{% if  g.user['user_id'] == request.args.get('user_id')|int %}
Your Recipes
{% elif username %}
{{ username }}'s Recipes
{% else %}
Latest Recipes
{% endif %}
{% endblock %}

{% block content %}

<section>
	{{ recipe_search(params=params) }}
</section>

{% if recipes %}
<p>Showing {{ ((page - 1) * limit) + 1 }} &ndash; {{ (page * limit, count)|min }} of {{ count }} recipes</p>

<div class="recipe-list">
	{% for recipe in recipes %}
	{{ recipe_card(recipe) }}
	{% endfor %}
</div>

<div class="pagination">
	<a href="{% if page==1 %}#{% else %}{{ url_for(request.endpoint, page=page-1, **params) }}{% endif %}">&laquo;</a>
	{% for pagenum in range(1, pages+ 1) %}
	{% if pagenum == page %}
	<a class="active" href="#">{{ pagenum }}</a>
	{% else %}
	<a href="{{ url_for(request.endpoint, page=pagenum, **params) }}">{{ pagenum }}</a>
	{% endif %}
	{% endfor %}
	<a href="{% if page==pages %}#{% else %}{{ url_for(request.endpoint, page=page+1, **params) }}{% endif %}">&raquo;</a>
</div>

{% else %}
<p>No recipes available.</p>
{% endif %}
{% endblock %}
