{% extends 'base.html' %}
{% from 'macros.html' import recipe_card, recipe_search, pagination_links %}
{% block title %}
{% if  g.user.id == filters['user_id']|int %}
Your Recipes
{% elif profile %}
{{ profile.name }}'s Recipes
{% else %}
Latest Recipes
{% endif %}
{% endblock %}

{% block content %}

<section>
	{{ recipe_search(params=filters) }}
</section>

{% if latest_recipes %}
<p>Showing {{ pagination['offset'] + 1 }} &ndash; {{ (pagination['offset'] + pagination['limit'], pagination['count'])|min }} of {{ pagination['count'] }} recipes</p>

<div class="recipe-list">
	{% for recipe in latest_recipes %}
	{{ recipe_card(recipe) }}
	{% endfor %}
</div>

{{ pagination_links(pagination, filters) }}

{% else %}
<p>No recipes available.</p>
{% endif %}
{% endblock %}
