{% extends 'base.html' %}
{% block title %}Update Post{% endblock %}

{% block content %}
<form method="post">
	<p class="error">{{ error['form'] }}</p>

	<label for="title">Title</label>
	<span class="error">{{ error['title'] }}</span>
	<input name="title" id="title" value="{{ request.form['title'] or post['title'] }}" maxlength="100" required>

	<label for="body">Body</label>
	<span class="error">{{ error['body'] }}</span>
	<textarea name="body" id="body" rows="20" maxlength="4000">{{ request.form['body'] or post['body'] }}</textarea>

	<input type="submit" value="Update Post">
</form>
{% endblock %}

