{% extends 'base.html' %}
{% block title %}Delete Account{% endblock %}

{% block content %}
{% if success %}
<p>Account deletion successful.</p>
<p>Return <a href="{{ url_for('index') }}">home</a>?</p>
{% else %}
<p>Are you sure you would like to delete your account?</p>
<p>Enter your password below to continue.</p>
<form method="post">
	<p class="error">{{ error['form'] }}</p>

	<label for="password">Password</label>
	<span class="error">{{ error['password'] }}</span>
	<input type="password" name="password" id="password" maxlength="256" required>

	<input type="submit" value="Delete Account">
</form>
{% endif %}
{% endblock %}
