{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block content %}
{% if success %}
<p>Password change successful.</p>
{% else %}
<form method="post">
	<label for="current-password">Current password</label>
	<input type="password" name="current-password" id="current-password">
	<label for="new-password">New password</label>
	<input type="password" name="new-password" id="new-password">
	<label for="new-password-verify">Verify new password</label>
	<input type="password" name="new-password-verify" id="new-password-verify">
	<input type="submit" value="Change Password">
</form>
{% endif %}
{% endblock %}
