{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block content %}
{% if success %}
<p>Password change successful.</p>
{% else %}
<form method="post">
	<p class="error">{{ error['form'] }}</p>

	<div>
		<label for="current-password">Current password</label>
		<span class="error">{{ error['current-password'] }}</span>
		<input type="password" name="current-password" id="current-password" maxlength="256" required>
	</div>

	<div>
		<label for="new-password">New password</label>
		<span class="error">{{ error['new-password'] }}</span>
		<input type="password" name="new-password" id="new-password" maxlength="256" required>
	</div>

	<div>
		<label for="new-password-verify">Verify new password</label>
		<span class="error">{{ error['new-password-verify'] }}</span>
		<input type="password" name="new-password-verify" id="new-password-verify" maxlength="256" required>
	</div>

	<div>
		<input type="submit" value="Change Password">
	</div>
</form>
{% endif %}
{% endblock %}
