{% extends 'base.html' %}
{% from 'macros.html' import profile_pic, user_link, recipe_scroll, tab_view, tab, tab_link, tab_seperator %}
{% block title %}{{ profile.name }}{% endblock %}

{% block meta_description %}{{ profile.bio or profile.name }}{% endblock %}
{% block meta_image %}{% if profile.picture %}{{ url_for('upload', filename=profile.picture) }}{% else %}{{ super() }}{% endif %}{% endblock %}
{% block meta_type %}profile{% endblock %}

{% block heading %}
<div class="profile-pic-left">{{ profile_pic(profile) }}</div>
<div class="profile-details">
	<h2>{{ self.title() }}</h1>
	<p class="info-horizontal">
		<span>Joined {{ profile.joined }}</span>
		&bull;
		<span>Active {{ profile.active }}</span>
	</p>
</div>
{% endblock %}

{% block content %}
{% if profile.bio %}<p>{{ profile.bio }}</p>{% endif %}

{% if latest_recipes %}
{{ recipe_scroll(latest_recipes, 'Recipes', {'user_id': profile.id}) }}
{% endif %}

{% if favourite_recipes %}
{{ recipe_scroll(favourite_recipes, 'Favourite Recipes', {'user_id': profile.id}) }}
{% endif %}

{% call tab_view() %}

{% call tab('Following (%s)' % following|length, default=True) %}
{% for u in following %}
{{ user_link(u) }}
{% endfor %}
{% endcall %}

{% call tab('Followers (%s)' % followers|length) %}
{% for u in followers %}
{{ user_link(u) }}
{% endfor %}
{% endcall %}

{{ tab_seperator() }}

{% if follows is not none %}
{{ tab_link('Unfollow', url_for('user.unfollow', user_id=profile.id)) if follows else tab_link('Follow', url_for('user.follow', user_id=profile.id)) }}
{% endif %}

{% endcall %}

{% endblock %}
