{% extends 'base.html' %}
{% from 'macros.html' import profile_pic, user_link, recipe_scroll, tab_view, tab, tab_link, tab_seperator %}
{% block title %}{{ user|name }}{% endblock %}

{% block heading %}
<div class="profile-pic-left">{{ profile_pic(user['user_id']) }}</div>
<h1>{{ self.title() }}</h1>
<p class="info-horizontal"><span>{{ user['username'] }}</span>&bull;<span>Joined {{ joined }}</span>&bull;<span>Active {% if active > 0 %}{{ active }} days ago{% else %}today{% endif %}</span></p>
{% endblock %}

{% block content %}
<p>{{ user['bio']|default('', true) }}</p>

{% if recipes %}
{{ recipe_scroll(recipes, 'Recipes', {'user_id': user['user_id']}) }}
{% endif %}

{% call tab_view() %}

{% call tab('Following (%s)' % following|length, default=True) %}
{% for u in following %}
{{ user_link(u) }}
{% endfor %}
{% endcall %}

{% call tab('Followers (%s)' % followers|length) %}
{% for u in followers %}
{{ user_link(u) }}
{% endfor %}
{% endcall %}

{{ tab_seperator() }}

{% if g.user and g.user['user_id'] != user['user_id'] %}
{{ tab_link('Unfollow', url_for('user.unfollow', user_id=user['user_id'])) if follows else tab_link('Follow', url_for('user.follow', user_id=user['user_id'])) }}
{% endif %}

{% endcall %}

{% endblock %}
