/* ---MISCELLANEOUS--- */
/* COLOURS */
:root {
	--darkblue: #01346b;
	--lightblue: #4a99ee;
	--brightblue: #0273eb;
	--greyblue: #2e4b6b;
	--blue: #025ab8;
	--success: #66ff99;
	--info: #66c2ff;
	--warning: #ffa366;
	--error: #ff6666;
	--white: #ffffff;
	--lightgrey: #f2f2f2;
	--grey: #d9d9d9;
	--darkgrey: #bfbfbf;
	--verydarkgrey: #a6a6a6;
	--black: #1a1a1a;
	--dark: #1a1a1a;
	--dark-hover: #333333;
	--dark-active: #4d4d4d;
	--light: #ffffff;
	--light-hover: #f2f2f2;
	--light-active: #d9d9d9;
}

/* TEXT */
.success {
	color: var(--success) !important;
}

.info {
	color: var(--info) !important;
}

.warning {
	color: var(--warning) !important;
}

.error {
	color: var(--error) !important;
}

.hidden {
	display: none;
}

.text {
	white-space: pre-wrap;
}

:is(h1, h2, h3, h4, h5, h6):first-child {
	margin-top: 0;
}

/* ---MAIN LAYOUT--- */
* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: serif;
	font-size: 1em;
	color: var(--black);
}

body .wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
	padding: 20px;
}

main > h1 {
	display: inline-block;
	margin: 0;
}

main > section {
	margin: 0 0 20px 0;
}

main > section.small {
	max-width: 800px;
	margin: auto;
}

section.center {
	text-align: center;
}

h1.title {
	font-size: 2em;
	display: inline-block;
	margin: 0;
}

hr {
	border: none;
	border-top: 1px solid var(--grey);
}

header, footer {
	flex-grow: 0;
	flex-shrink: 0;
}

header {
	padding: 10px;
}

header img {
	height: 4em;
	width: auto;
}

header a {
	text-decoration: none;
	color: var(--black);
}

footer {
	padding: 10px;
	background-color: var(--greyblue);
	color: white;
	text-align: center;
}


/* ---NAVIGATION--- */
nav {
	width: 100%;
	background-color: var(--darkblue);
	position: sticky;
	top: 0;
	z-index: 1;
}

nav::after {
	content: "";
	clear: both;
	display: table;
}

nav #menu-checkbox {
	display: none;
}

nav label {
	cursor: pointer;
	background-color: var(--darkblue);
	color: white;
	float: right;
}

nav label:hover {
	background-color: var(--brightblue);;
}

nav input#menu-checkbox:checked ~ label {
	background-color: var(--blue);
}

nav li.nav-dropdown button {
	display: none;
}
	
nav ul {
	max-height: 0;
	background-color: var(--darkblue);
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	transition: 0.5s;
}

nav input#menu-checkbox:checked ~ ul {
	max-height: 100vh;
}

nav a, nav label{
	display: block;
	text-align: center;
	padding: 8px 10px;
	color: white;
	text-decoration: none;
	font-size: 1em;
	transition: 0.1s;
}

nav a:hover {
	background-color: var(--brightblue);
}

nav button {
	background-color: var(--darkblue);
	color: white;
	border: none;
	font-family: serif;
	font-size: 1em;
	cursor: pointer;
	transition: 0.1s;
}

nav button:hover {
	background-color: var(--brightblue);
}

nav button:active {
	background-color: var(--blue);
}

nav button:focus {
	background-color: var(--blue);
}

/* ---FORMS--- */
form.inline {
	display: inline;
}

form > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

form div.error {
	margin-left: auto;
}

form div.error span::after {
	content: "\a";
	white-space: pre;
}

form input:not(.button), form select {
	display: block;
	order: 2;
	width: 100%;
	margin: 10px 0 20px 0;
	padding: 8px;
	border: 1px solid var(--darkgrey);
	background-color: var(--white);
	font-family: inherit;
	font-size: inherit;
	outline: none;
	transition: border 0.1s;
}

form input[type="file"] {
	border: none;
	padding: 0;
}

form input[type="file"]::file-selector-button {
	margin: 0;
	margin-right: 10px;
	padding: 8px;
	border: none;
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;
	color: var(--white);
	background-color: var(--darkblue);
	transition: 0.1s;
}

form input[type="file"]::file-selector-button:hover {
	background-color: var(--brightblue);
}

form input[type="file"]::file-selector-button:active {
	background-color: var(--blue);
}

form input[type="number"] {
	width: 100px;
	margin-right: calc(100% - 100px);
}

form input[type="checkbox"]:not(.button) {
	appearance: none;
	box-sizing: content-box;
	font-size: 18px;
	height: 1em;
	width: 1em;
	margin-right: calc(100% - 1em - 20px);
}

form input[type="checkbox"]:not(.button):checked {
	border-color: var(--blue);
}

form input[type="checkbox"]:not(.button)::after {
	content: "";
	position: relative;
	display: inline-block;
	left: 3px;
	bottom: 3px;
	width: 0.5em;
	height: 1em;
	border: 1px solid var(--blue);
	border-width: 0 3px 3px 0;
	transform: rotate(0) scale(0);
	transition: transform 0.05s;
}

form input[type="checkbox"]:not(.button):checked::after {
	transform: rotate(45deg) scale(1);
}

form select {
	width: auto;
	margin-right: 100%;
}

form input:hover, form select:hover {
	border-color: var(--brightblue);
}

form input:focus, form select:focus {
	border-color: var(--blue);
}

form textarea {
	order: 2;
	width: 100%;
	margin: 10px 0 20px 0;
	padding: 8px;
	border: 1px solid var(--darkgrey);
	font-family: inherit;
	font-size: inherit;
	resize: vertical;
	outline: none;
	transition: border 0.1s;
}

form textarea:hover {
	border-color: var(--brightblue);
}

form textarea:focus {
	border-color: var(--blue);
}

form input[type="submit"] {
	width: auto;
	margin: 0;
	margin-left: auto;
	padding: 9px;
	background-color: var(--darkblue);
	color: white;
	border: none;
	cursor: pointer;
	transition: 0.1s;
}

form input[type="submit"]:hover {
	background-color: var(--brightblue);
}

form input[type="submit"]:focus {
	background-color: var(--blue);
}

form .rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

form .rating input {
	display: none;
}

form .rating label i {
	color: gold;
	font-size: 1.5em;
	margin-right: 5px;
}

form .rating label i:last-child {
	display: none;
}

form .rating input:is(:hover, :checked) ~ label i:last-child {
	display: block;
}

form .rating input:is(:hover, :checked) ~ label i:first-child {
	display: none;
}

form.search {
	display: flex;
	gap: 10px;
}

form.search input[type="search"] {
	flex: 1;
	margin: auto;
}

form.search input[type="submit"] {
	float: none;
	margin: auto;
}

form div ul, form div ol {
	width: 100%;
	padding-left: 20px;
}

form li {
	clear: both;
	margin-top: 9px
}

form li textarea {
	float: right;
	margin-top: -9px;
	width: calc(100% - 3px);
}

/* ---GENERIC COMPONENTS--- */
/* ALERTS */
.alert {
	margin: 0;
}

.alert .content {
	margin: 0 0 20px 0;
	padding: 20px;
	color: var(--black);
}

.alert.error .content {
	background-color: var(--error);
}

.alert.warning .content {
	background-color: var(--warning);
}

.alert.info .content {
	background-color: var(--info);
}

.alert.success .content {
	background-color: var(--success);
}

.alert .close {
	appearance: none;
	outline: none;
	float: right;
	margin: 0;
	padding: 14px 20px;
	color: var(--dark);
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.alert .close::before {
	content: "\00d7";
}

.alert .close:checked {
	display: none;
}

.alert .close:hover {
	color: var(--dark-hover);
}

.alert .close:active {
	color: var(--dark-active);
}

.alert .close:checked + .content {
	display: none;
}

/* BOX */
.box {
	margin: 20px 0;
	padding: 0;
	border: 1px solid var(--darkgrey);
	border-radius: 10px 10px 0 0;
	background-color: var(--lightgrey);
}

.box h3 {
	margin: 10px 20px;
	font-weight: bold;
}

.box .content {
	padding: 20px;
	border-top: 1px solid var(--darkgrey);
	background-color: var(--white);
}

/* BUTTONS */
.button {
	appearance: none;
	display: inline-block;
	padding: 8px 8px;
	font-family: inherit;
	font-size: inherit;
	background-color: var(--darkblue);
	color: white;
	border: none;
	text-decoration: none;
	cursor: pointer;
	transition: 0.1s;
}

.button.light {
	background-color: var(--light);
	color: var(--black);
}

.button.round {
	box-sizing: content-box;
	border-radius: 50%;
	text-align: center;
	padding: 12px;
	height: 1em;
	width: 1em;
}

.button::before {
	content: attr(value);
}

.button.close::before {
	content: "\00D7";
	font-size: 28px;
	font-weight: bold;
	position: relative;
	bottom: 50%;
}

.button:hover {
	background-color: var(--brightblue);
}

.button.light:hover {
	background-color: var(--light-hover);
}

.button:active, .button:focus {
	background-color: var(--blue);
}

.button.light:active, .button.light:focus {
	background-color: var(--light-active);
}

.button.right {
	float: right;
}

/* DROPDOWNS */
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown.right {
	float: right;
}

.dropdown .dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--white);
	border: 1px solid var(--grey);
	border-radius: 5px;
	overflow: hidden;
	min-width: 160px;
	margin-top: 5px;
	z-index: 1;
}

.dropdown.right .dropdown-content {
	right: 0;
}

.dropdown .dropdown-content .button {
	color: var(--black);
	padding: 12px 16px;
	display: block;
}

.dropdown .dropdown-button:focus ~ .dropdown-content, .dropdown .dropdown-content:hover {
	display: block;
}

/* HELP TOOLTIPS */
.help {
	position: relative;
	display: inline-block;
	margin-left: 0.2em;
}

.help::before {
	content: "?";
	font-size: 0.75em;
	color: var(--darkgrey);
	vertical-align: middle;
	text-align: center;
	line-height: 1;
	display: inline-block;
	width: 1em;	
	height: 1em;
	border-radius: 1em;
	border: 1px solid var(--darkgrey);
	transform: translateY(-0.1em);
	transition: 0.1s;
}

.help:hover::before {
	color: var(--verydarkgrey);
	border: 1px solid var(--verydarkgrey);
}

.help span {
	visibility: hidden;
	width: 240px;
	background-color: var(--verydarkgrey);
	color: white;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	padding: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.3s;
}

.help .top {
	bottom: 120%;
	left: 50%;
	margin-left: -120px;
}

.help .right {
	top: -5px;
	left: 200%;
}

.help .bottom {
	top: 120%;
	left: 50%;
	margin-left: -120px;
}

.help .left {
	top: -5px;
	right: 200%;
}

.help .top::before {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--verydarkgrey) transparent transparent transparent;
}

.help .right::before {
	content: " ";
	position: absolute;
	top: 14px;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent var(--verydarkgrey) transparent transparent;
}

.help .bottom::before {
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent var(--verydarkgrey) transparent;
}

.help .left::before {
	content: " ";
	position: absolute;
	top: 14px;
	left: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent var(--verydarkgrey);
}


.help:hover span {
	visibility: visible;
	opacity: 1;
}

input:required ~ .help span::after, textarea:required ~ .help span::after {
	content: " (Required)";
}

input:optional ~ .help span:after, textarea:optional ~ .help span::after {
	content: " (Optional)";
}

/* IMAGE CONTAINER */
.image-container img {
	max-width: 100%;
	max-height: 100%;
}

/* INFO LINE */
.info-horizontal {
	display: flex;
	flex-flow: row wrap;
	gap: 0 10px;
}

/* MODAL WINDOWS */
.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal.hidden {
	display: none;
}

.modal .modal-content {
	background-color: var(--white);;
	margin: 30vh auto;
	padding: 20px;
	width: 90%;
	max-width: 50em;
	border-radius: 5px;
	transform: translateY(-50%);
	resize: both;
}

.modal .modal-content .modal-title {
	margin-top: 8px;
}

/* PAGINATION */
.pagination {
	display: inline-block;
	position: relative;
	margin: 20px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.pagination a {
	color: var(--black);
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: 0.1s;
}

.pagination a.active {
	color: var(--white);
	background-color: var(--blue);
}

.pagination a:hover:not(.active) {
	background-color: var(--lightgrey);
}

.pagination a:active:not(.active) {
	background-color: var(--grey);
}

/* SCROLL BOX */
.scroll-box {
	margin: 20px 0;
	padding: 0;
	border: 1px solid var(--darkgrey);
	border-radius: 10px 10px 0 0;
	background-color: var(--lightgrey);
}

.scroll-box h3 {
	margin: 10px 20px;
	font-weight: bold;
}

.scroll {
	overflow: auto;
	white-space: nowrap;
	padding: 20px;
	border-top: 1px solid var(--darkgrey);
	background-color: #fff;
}

.scroll-card {
	display: inline-block;
	margin: 0;
	margin-right: 20px;
	vertical-align: middle;
}

/* SLIDESHOW */
.slideshow-container {
	max-width: 800px;
	position: relative;
	padding-bottom: calc(100% / 3 * 2);
	margin: auto;
	background-color: var(--black);
}

.slideshow-container .slide {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}

.slideshow-container .slide .slide-action {
	position: absolute;
	top: 0;
	right: 0;
}

.slideshow-container .slide .image-container {
	height: 100%;
}

.slideshow-container .slide .image-container img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slideshow-container .previous, .slideshow-container .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.slideshow-container .next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* TAB VIEW */
.tab-view {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	margin-top: 20px;
	border: 1px solid var(--darkgrey);
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	background-color: var(--lightgrey);
}

.tab-view .tab-button, .tab-view .tab-link {
	order: 1;
	display: inline-block;
	margin: 0;
	padding: 8px 10px;
	font-size: inherit;
	font-family: inherit;
	text-decoration: none;
	color: var(--black);
	cursor: pointer;
	transition: 0.1s;
}

.tab-view .tab-seperator {
	order: 1;
	margin-left: auto;
}

.tab-view .tab-button:hover, .tab-view .tab-link:hover {
	background-color: var(--grey);
}

.tab-view .tab-button:active, .tab-view .tab-link:active {
	background-color: var(--darkgrey);
}

.tab-view .tab-button.active {
	background-color: var(--darkgrey);
}

.tab-view .tab-content {
	order: 2;
	display: none;
	width: 100%;
	margin: 0;
	padding: 20px;
	border-top: 1px solid var(--darkgrey);
	background-color: white;
}

.tab-view .tab-button.active + .tab-content {
	display: block;
}

/* TAGS */
.tags {
	display: flex;
	flex-flow: row wrap;
}

.tags span {
	padding: 4px 12px;
	margin-right: 5px;
	margin-bottom: 7px;
	border-radius: 12px;
	background-color: var(--lightgrey);
}


/* ---RECIPE ELEMENTS--- */
/* RATING STARS */
.rating i {
	color: gold;
}

/* RECIPE VIEW */
.recipe {
	word-break: break-word;
}

.recipe .recipe-details {
	margin-bottom: 30px;
}

.recipe .recipe-instructions {
	margin-bottom: 46px;
}

.recipe .recipe-details .details span span {
	font-weight: bold;
	margin-left: 0.4em;
}

.recipe .recipe-info {
	box-sizing: content-box;
	margin: 0;
	padding-bottom: 16px;
}

.recipe .recipe-description {
	box-sizing: content-box;
	white-space: pre-wrap;
	margin: 0;
	padding-bottom: 16px;
}

.recipe .image-container {
	max-width: 50em;
}

/* RECIPE CARD */
.recipe-card {
	padding: 10px 20px;
	width: 25em;
	border: 1px solid var(--darkgrey);
	border-radius: 5px;
	text-align: left;
	white-space: nowrap;
}

.recipe-card > * {
	margin: 2px 0 0 0;
	padding: 6px 0 8px 0;
	position: relative;
	overflow: hidden;
}

.recipe-card > *::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 10%;
	height: 100%;
	background-image: linear-gradient(to left, white, transparent);
}

.recipe-card .recipe-info {
	border-top: 1px solid var(--darkgrey);
	border-bottom: 1px solid var(--darkgrey);
}

/* RECIPE INFO */
.recipe-info > span:not(:last-child)::after {
	content: "\2022";
	margin: 0 10px;
}

.recipe-info .profile-pic {
	vertical-align: middle;
	height: 2em;
	width: auto;
	margin-right: 10px;
}

/* RECIPE LIST */
.recipe-list {
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	gap: 20px;
}

.recipe-list .recipe-card {
	flex: 0 1 100%;
}

/* VEGERARIAN ICON */
.vegetarian::before {
	content: "v";
	font-size: 90%;
	color: white;
	background-color: green;
	vertical-align: middle;
	text-align: center;
	line-height: 0.9;
	display: inline-block;
	width: 1em;	
	height: 1em;
	border-radius: 1em;
	transform: translateY(-0.1em);
}

/* COMMENT CARD */
.comment-card {
	padding: 20px 20px;
	margin-bottom: 20px;
	border: 1px solid var(--darkgrey);
	border-radius: 5px;
	text-align: left;
}

.comment-card:last-child {
	margin-bottom: 0;
}

.comment-card > * {
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
}

.comment-card > .user > .user-link {
	display: inline-block;
	padding: 0;
	margin: 4px 0;
}

.comment-card > .options {
	text-align: right;
	color: var(--verydarkgrey);
}

/* ---USER PROFILE ELEMENTS--- */
/* PROFILE PIC */
.profile-pic {
	border: 1px solid var(--darkgrey);
	border-radius: 50%;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.profile-pic-left {
	float: left;
	margin-right: 20px;
	width: 5em;
	height: 5em;
}

.profile-details {
	min-height: 5em;
}

.profile-details h2 {
	margin: 0;
	padding-top: 0.5em;
	font-size: 1.5rem;
}

.profile-details p {
	margin: 0;
	padding: 0.5em 0;
}

/* USER LINKS */
.user-link {
	box-sizing: content-box;
	margin: 0;
	padding: 10px 0;
	height: 2em;
}

.user-link:first-child {
	padding-top: 0;
}

.user-link.seperator:not(:last-child) {
	border-bottom: 1px solid var(--darkgrey);
}

.user-link .profile-pic-container {
	display: inline-block;
	vertical-align: middle;
	height: 2em;
	width: 2em;
}

.user-link  span {
	margin-left: 10px;
}

/* ---USER SETTINGS ELEMENTS--- */
/* UPDATE PROFILE PIC */
.update-profile-pic-container {
	display: block;
	position: relative;
	width: 10em;
	height: 10em;
	margin: 0 auto;
}

.update-profile-pic-container .profile-pic {
	opacity: 50%;
}

.update-profile-pic-container .profile-pic-buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.update-profile-pic-container .profile-pic-buttons * {
	flex-shrink: 1;
	flex-grow: 0;
}


/* ---SMALL SCREENS--- */
@media only screen and (min-width: 800px) {
	/* NAVIGATION */
	nav {
		position: sticky;
		top: 0;
	}

	nav label {
		display: none;
	}

	nav ul {
		max-height: none;
	}

	nav li {
		float: left;
	}

	nav li.right {
		float: right;
	}

	nav li.nav-dropdown {
		display: inline-block;
	}

	nav li.nav-dropdown button {
		display: block;
		margin: 0;
		text-align: center;
		padding: 8px 10px;
	}

	nav .nav-dropdown .dropdown-content {
		display: none;
		position: absolute;
		right: 0;
		background-color: var(--darkblue);
		z-index: 1;
		transition: 0.1s;
	}

	nav li.nav-dropdown button:focus ~ .dropdown-content {
		display: block;
	}

	nav .nav-dropdown .dropdown-content:hover {
		display: block;
	}

	nav .nav-dropdown .dropdown-content a {
		text-align: right;
	}
	
	/* RECIPE LIST */
	.recipe-list .recipe-card {
		flex-basis: calc(50% - 10px);
	}
}


/* ---MEDIUM SCREENS--- */
@media only screen and (min-width: 1200px) {
	/* RECIPE LIST */
	.recipe-list .recipe-card {
		flex-basis: calc((100% / 3) - (40px / 3));
	}
}

/* ---LARGE SCREENS--- */
@media only screen and (min-width: 1400px) {
	/* ---RECIPE ELEMENTS--- */
	/* RECIPE VIEW */
	.recipe {
		display: flex;
		flex-flow: column wrap;
		align-content: space-between;
	}

	.recipe::before, .recipe::after {
		content: "";
		flex-basis: 100%;
		width: 0;
		order: 1;
	}

	.recipe .recipe-details {
		/*flex: 1 1 auto;*/
		order: 1;
		width: 35%;
		margin: 0;
		padding-right: 20px;
		padding-bottom: 20px;
		border-right: 1px solid var(--grey);
	}

	.recipe .recipe-instructions {
		/*flex: 1 1 auto;*/
		order: 2;
		width: 65%;
		margin: 0;
		padding-left: 20px;
	}

	.recipe .recipe-comments {
		/*flex: 1 1 auto;*/
		order: 1;
		width: 35%;
		margin: 0;
		padding-right: 20px;
		border-right: 1px solid var(--grey);
	}

	/* RECIPE LIST */
	.recipe-list .recipe-card {
		flex-basis: calc(25% - 15px);
	}
}
