{% extends 'base.html' %}
{% block title %}Followers{% endblock %}

{% block content %}
{% for follower in followers %}
<div>
	<span>{{ follower['forename'] }} {{ follower['surname'] }}</span>
</div>
{% endfor %}

<div class="pagination">
	<a href="{% if page==0 %}#{% else %}{{ url_for(request.endpoint, user_id=user_id, page=page-1) }}{% endif %}">&laquo;</a>
	{% for pagenum in range(pages) %}
	{% if pagenum == page %}
	<a class="active" href="#">{{ pagenum + 1 }}</a>
	{% else %}
	<a href="{{ url_for(request.endpoint, user_id=user_id, page=pagenum) }}">{{ pagenum + 1 }}</a>
	{% endif %}
	{% endfor %}
	<a href="{% if page==pages %}#{% else %}{{ url_for(request.endpoint, user_id=user_id, page=page+1) }}{% endif %}">&raquo;</a>
</div>
{% endblock %}
