{% extends 'base.html' %}
{% block title %}{{ user['username'] }}{% endblock %}

{% block content %}
<p>Joined {{ joined }}.</p>
<p>Active {{ active }} days ago.</p>
<p>Follows {{ following }} people.</p>
<p>Has {{ followers }} followers.</p>
{% if g.user and g.user['user_id'] != user['user_id'] %}
{% if follows %}
<a href="{{ url_for('user.unfollow', user_id=user['user_id']) }}">Unfollow</a>
{% else %}
<a href="{{ url_for('user.follow', user_id=user['user_id']) }}">Follow</a>
{% endif %}
{% endif %}
{% endblock %}
