<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<title>{% block title %}{% endblock %} - My Website</title>
		{% endblock %}
	</head>
	<body>
		<header>
			{% block header %}
			<h1>My Website</h1>
			{% endblock %}
		</header>
		<nav>
			{% block nav %}
			<li><a href="{{ url_for('index') }}">Home</a></li>
			{% if g.user %}
			<li><a href="{{ url_for('account.index') }}">My Account</a></li>
			<li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
			{% else %}
			<li><a href="{{ url_for('auth.register') }}">Register</a></li>
			<li><a href="{{ url_for('auth.login') }}">Log In</a></li>
			{% endif %}
			{% endblock %}
		</nav>
		<main>
			{% block main %}
			<h1>{{ self.title() }}</h1>
			{% for message in get_flashed_messages() %}
			<p>{{ message }}</p>
			{% endfor %}
			<section>{% block content %}{% endblock %}</section>
			{% endblock %}
		</main>
		<footer>
			{% block footer %}
			<p>Copyright &copy; 2023 Joel Atkinson</p>
			{% endblock %}
		</footer>
	</body>
</html>

