{% macro alert(message, class='error') -%}
<div class="alert {{ class }}">
	<input type="checkbox" class="close">
	<div class="content"><span>{{ message }}</span></div>
</div>
{%- endmacro %}

{% macro help(message, direction="right") -%}
<div class="help"><span class="{{ direction }}">{{ message }}</span></div>
{%- endmacro %}

{% macro render_form(form, name, action='', upload=False) -%}
<form method="post" action="{{ action }}" {{ 'enctype="multipart/form-data"'|safe if upload }}>
	{% for field in form %}
	{% if field.type in ['HiddenField', 'CSRFTokenField'] %}
	{{ field()|safe }}
	{% else %}
	<div>
		{{ field()|safe }}
		{{ field.label|safe }}
		<div class="help"><span class="right">{{ field.description }}</span></div>
		<div class="error">{% for error in field.errors %}<span class="error">{{ error }}</span>{% endfor %}</div>
	</div>
	{% endif %}
	{% endfor %}
	<input type="submit" value="{{ name }}">
</form>
{%- endmacro %}

{% macro field(name, label, help, error) -%}
<div>
	{{ caller(name) }}
	<label for="{{ name }}">{{ label }}</label>
	<div class="help"><span class="right">{{ help }}</span></div>
	<span class="error">{{ error[name] }}</span>
</div>
{%- endmacro %}

{% macro profile_pic(user_id, size=None) -%}
<img class="profile-pic {{ size }}" src="{{ profile_pic_uri(user_id) }}">
{%- endmacro %}

{% macro recipe_card(recipe) -%}
<div class="recipe-card">
		<h2><a href="{{ url_for('recipe.view', recipe_id=recipe['recipe_id']) }}">{{ recipe['title'] }}</a></h2>
		<p class="recipe-author">By <a href="{{ url_for('user.index', user_id=recipe['user_id']) }}">{{ recipe['username'] }}</a></p>
		<div class="recipe-info">
			<span>Serves: {{ recipe['servings'] }}</span>
			<span>Time: {{ recipe['time'] }} mins</span>
			<span>Difficulty: {{ recipe['difficulty'] }}/3</span>
			{% if recipe['vegetarian'] %}<span class="vegetarian"></span>{% endif %}
		</div>
		<p class="recipe-description">{{ recipe['description'] }}</p>
	</div>

{%- endmacro %}

{% macro recipe_scroll(recipes, name, filters) -%}
<div class="scroll-box">
	<h3>{{ name }}</h3>
	<div class="scroll">
		{% for recipe in recipes %}
		<div class="scroll-card">{{ recipe_card(recipe) }}</div>
		{% endfor %}
		<div class="scroll-card">
			<h3><a href="{{ url_for('recipe.latest', **filters) }}">View more...</a></h3>
		</div>
	</div>
</div>
{%- endmacro %}


{% macro tabs(id) -%}
<div class="tab-view">
	{{ caller(id) }}
</div>
{%- endmacro %}

{% macro tab(name, id, class='', default=False) -%}
<input type="radio" name="{{ id }}" class="tab-button {{ class }}" value="{{ name }}" {{ 'checked' if default }}>
<div class="tab-content">{{ caller() }}</div>
{%- endmacro %}

{% macro tab_action(name, action, class='') -%}
<a class="tab-button-right {{ class }}" href="{{ action }}">{{ name }}</a>
{%- endmacro %}

{% macro modal(name, title='') -%}
<div class="modal hidden" id="{{ name }}">
	<div class="modal-content">
		<a class="modal-close button close right round light"></a>
		<h1 class="modal-title">{{ title }}</h1>
		{{ caller() }}
	</div>
</div>
{%- endmacro %}

{% macro modal_button(name, label) -%}
<a class="modal-open button" data-modal="{{ name }}">{{ label }}</a>
{%- endmacro %}
