{% extends 'base.html' %}
{% from 'macros.html' import render_field, tab_view, tab, tab_link %}
{% block title %}My Account{% endblock %}

{% block content %}

{% call tab_view() %}

{{ tab_link('Profile', url_for('account.profile')) }}
{{ tab_link('Password', url_for('account.password')) }}

{% call tab('Delete', default=True) %}
<p>Are you sure you would like to delete your account?</p>
<p>You may want to transfer your data before you continue.</p>
<p>Enter your password below to continue.</p>
<form action="{{ url_for(request.endpoint) }}" method="post">
	{{ form.csrf_token }}

	{{ render_field(form.password) }}

	<input type="submit" value="Delete Account">
</form>
{% endcall %}

{% endcall %}

{% endblock %}
