{% extends 'base.html' %}
{% from 'macros.html' import field, help, modal, modal_button, profile_pic, tab, tabs, tab_action %}
{% block title %}My Account{% endblock %}

{% block content %}
{% call modal('update-profile-pic') %}
<h1>Update Profile Picture</h1>
<p>Upload an image for your profile below.</p>
<form action="{{ url_for(request.endpoint) }}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="action" value="update-picture">
	<input type="file" name="profile-pic" id="profile-pic" accept="image/*">
	<input type="submit" value="Update Picture">
</form>
{% endcall %}

{% call modal('delete-profile-pic') %}
<h1>Delete Profile Picture</h1>
<p>Are you sure you want to do this?</p>
<form action="{{ url_for(request.endpoint) }}" method="post">
	<input type="hidden" name="action" value="delete-picture">
	<input type="hidden" name="delete" value="true">
	<input type="submit" value="Delete Picture">
</form>
{% endcall %}

{% call(id) tabs('tab') %}

{% call tab('Profile', id, default=True) %}
<form action="{{ url_for(request.endpoint) }}" method="post">
	<input type="hidden" name="action" value="profile">
	
	<div class="update-profile-pic-container">
		{{ profile_pic(g.user['user_id']) }}
		<div class="profile-pic-buttons">
			{{ modal_button('update-profile-pic', 'Update') }}
			{{ modal_button('delete-profile-pic', 'Delete') }}
		</div>
	</div>


	{% call(name) field('forename', 'Forename', 'This is what we\'ll call you.', error) %}
	<input name="{{ name }}" id="{{ name }}" value="{{ request.form[name] or g.user[name] }}" maxlength="36">
	{% endcall %}

	{% call(name) field('surname', 'Surname', 'This is what we\'ll call you.', error) %}
	<input name="{{ name }}" id="{{ name }}" value="{{ request.form[name] or g.user[name] }}" maxlength="36">
	{% endcall %}

	{% call(name) field('bio', 'Bio', 'Tell us about yourself.', error) %}
	<textarea name="{{ name }}" id="{{ name }}" maxlength="400">{{ request.form[name] or g.user[name] }}</textarea>
	{% endcall %}

	<input type="submit" value="Update Profile">
</form>
{% endcall %}

{% call tab('Password', id, default=(request.args.get(id, '') == 'password')) %}
<form action="{{ url_for(request.endpoint, **{id: 'password'}) }}" method="post">
	<input type="hidden" name="action" value="password">

	{% call(name) field('current-password', 'Current password', 'Enter your current password.', error) %}
	<input type="password" name="{{ name }}" id="{{ name }}" maxlength="256" required>
	{% endcall %}
	
	{% call(name) field('new-password', 'New password', 'Enter your new password.', error) %}
	<input type="password" name="{{ name }}" id="{{ name }}" maxlength="256" required>
	{% endcall %}
	
	{% call(name) field('new-password-verify', 'Verify new password', 'Enter your new password again.', error) %}
	<input type="password" name="{{ name }}" id="{{ name }}" maxlength="256" required>
	{% endcall %}

	<input type="submit" value="Change Password">
</form>
{% endcall %}

{#% call tab('Transfer', id, default=(request.args.get(id, '') == 'transfer')) %}
<p>Transfer your recipes to another account.</p>
<p>Enter your password and the username of the other account below to continue.</p>
<form action="{{ url_for(request.endpoint, **{id: 'transfer'}) }}" method="post">
	<input type="hidden" name="action" value="transfer">

	{% call(name) field('username', 'Username', 'Enter the username of the second account.', error) %}
	<input name="{{ name }}" id="{{ name }}" maxlength="36" required>
	{% endcall %}

	{% call(name) field('password', 'Password', 'Enter your password to transfer your recipes.', error) %}
	<input type="password" name="{{ name }}" id="{{ name }}" maxlength="256" required>
	{% endcall %}

	<input type="submit" value="Transfer Recipes">
</form>
{% endcall %#}

{% call tab('Delete', id, default=(request.args.get(id, '') == 'delete')) %}
<p>Are you sure you would like to delete your account?</p>
<p>You may want to transfer your data before you continue.</p>
<p>Enter your password below to continue.</p>
<form action="{{ url_for(request.endpoint, **{id: 'delete'}) }}" method="post">
	<input type="hidden" name="action" value="delete">

	{% call(name) field('password', 'Password', 'Enter your password to delete your account.', error) %}
	<input type="password" name="{{ name }}" id="{{ name }}" maxlength="256" required>
	{% endcall%}

	<input type="submit" value="Delete Account">
</form>
{% endcall %}

{% endcall %}

{#<h3>{{ user['username'] }}</h3>
<p><a href="{{ url_for('user.index', user_id=g.user['user_id']) }}">View public profile</a></p>
<p><a href="{{ url_for('recipe.latest', user_id=g.user['user_id']) }}">View recipes</a></p>
<p>Joined {{ joined }}</p>
<p>Last login at {{ last_login }}</p>
<p>{{ followers }} followers</p>
<p>{{ following }} following</p>
<p><a href="{{ url_for('account.password') }}">Change password</a></p>
<p><a href="{{ url_for('account.delete') }}">Delete account</a></p>#}
{% endblock %}
