{% extends 'base.html' %}
{% from 'macros.html' import field, render_field, tab_view, tab, tab_link %}
{% block title %}My Account{% endblock %}

{% block content %}
{% call tab_view() %}

{{ tab_link('Profile', url_for('account.profile')) }}

{% call tab('Password', default=True) %}
<form action="{{ url_for(request.endpoint) }}" method="post">
	{{ form.csrf_token }}

	{{ render_field(form.current_password) }}
	{{ render_field(form.new_password) }}
	{{ render_field(form.confirm_password) }}

	<input type="submit" value="Change Password">
</form>
{% endcall %}

{{ tab_link('Delete', url_for('account.delete')) }}

{% endcall %}

{% endblock %}
