:root {
	--colour1: #01346b;
	--colour2: #4a99ee;
	--colour3: #0273eb;
	--colour4: #2e4b6b;
	--colour5: #025ab8;
	--success: #66ff99;
	--info: #66c2ff;
	--warning: #ffa366;
	--error: #ff6666;
	--white: #ffffff;
	--lightgrey: #f2f2f2;
	--grey: #d9d9d9;
	--darkgrey: #bfbfbf;
	--verydarkgrey: #a6a6a6;
	--black: #1a1a1a;
	--dark: #1a1a1a;
	--dark-hover: #333333;
	--dark-active: #4d4d4d;
	--light: #ffffff;
	--light-hover: #f2f2f2;
	--light-active: #d9d9d9;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: serif;
	font-size: 1rem;
	color: var(--black);
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.success {
	color: var(--success) !important;
}

.info {
	color: var(--info) !important;
}

.warning {
	color: var(--warning) !important;
}

.error {
	color: var(--error) !important;
}

.hidden {
	display: none;
}

.text {
	white-space: pre-wrap;
}

.help {
	position: relative;
	display: inline-block;
	margin-left: 0.2em;
}

.help::before {
	content: "?";
	font-size: 0.75rem;
	color: var(--darkgrey);
	vertical-align: middle;
	text-align: center;
	line-height: 1;
	display: inline-block;
	width: 1em;	
	height: 1em;
	border-radius: 1em;
	border: 1px solid var(--darkgrey);
	transform: translateY(-0.1em);
	transition: 0.1s;
}

.help:hover::before {
	color: var(--verydarkgrey);
	border: 1px solid var(--verydarkgrey);
}

.help span {
	visibility: hidden;
	width: 240px;
	background-color: var(--verydarkgrey);
	color: white;
	font-size: 1rem;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	padding: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.3s;
}

.help .top {
	bottom: 120%;
	left: 50%;
	margin-left: -120px;
}

.help .right {
	top: -5px;
	left: 200%;
}

.help .bottom {
	top: 120%;
	left: 50%;
	margin-left: -120px;
}

.help .left {
	top: -5px;
	right: 200%;
}

.help .top::before {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--verydarkgrey) transparent transparent transparent;
}

.help .right::before {
	content: " ";
	position: absolute;
	top: 14px;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent var(--verydarkgrey) transparent transparent;
}

.help .bottom::before {
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent var(--verydarkgrey) transparent;
}

.help .left::before {
	content: " ";
	position: absolute;
	top: 14px;
	left: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent var(--verydarkgrey);
}


.help:hover span {
	visibility: visible;
	opacity: 1;
}

.alert .content {
	padding: 20px;
	margin-bottom: 20px;
	color: var(--black);
}

.alert.error .content {
	background-color: var(--error);
}

.alert.warning .content {
	background-color: var(--warning);
}

.alert.info .content {
	background-color: var(--info);
}

.alert.success .content {
	background-color: var(--success);
}

.alert .close {
	appearance: none;
	outline: none;
	float: right;
	margin: 0;
	padding: 14px 20px;
	color: var(--dark);
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.alert .close::before {
	content: "\00d7";
}

.alert .close:checked {
	display: none;
}

.alert .close:hover {
	color: var(--dark-hover);
}

.alert .close:active {
	color: var(--dark-active);
}

.close:checked + .content {
	display: none;
}

input:required ~ .help span::after, textarea:required ~ .help span::after {
	content: " (Required)";
}

input:optional ~ .help span:after, textarea:optional ~ .help span::after {
	content: " (Optional)";
}

.button {
	appearance: none;
	display: inline-block;
	padding: 8px 8px;
	font-family: inherit;
	font-size: inherit;
	background-color: var(--colour1);
	color: white;
	border: none;
	text-decoration: none;
	cursor: pointer;
	transition: 0.1s;
}

.button.light {
	background-color: var(--light);
	color: var(--black);
}

.button.round {
	box-sizing: content-box;
	border-radius: 50%;
	text-align: center;
	height: calc(1.5em);
	width: calc(1.5em);
}

.button::before {
	content: attr(value);
}

.button.close::before {
	content: "\00D7";
	font-size: 28px;
	font-weight: bold;
	position: relative;
	bottom: 15%;
}

.button:hover {
	background-color: var(--colour3);
}

.button.light:hover {
	background-color: var(--light-hover);
}

.button:active, .button:focus {
	background-color: var(--colour5);
}

.button.light:active, .button.light:focus {
	background-color: var(--light-active);
}

.button.right {
	float: right;
}

header, footer {
	flex-grow: 0;
	flex-shrink: 0;
}

header {
	padding: 0 20px;
}

header a {
	text-decoration: none;
	color: var(--black);
}

nav {
	width: 100%;
	background-color: var(--colour1);
	position: sticky;
	top: 0;
	z-index: 1;
}

nav::after {
	content: "";
	clear: both;
	display: table;
}

nav #menu-checkbox {
	display: none;
}

nav label {
	cursor: pointer;
	background-color: var(--colour1);
	color: white;
	float: right;
}

nav label:hover {
	background-color: var(--colour3);;
}

nav input#menu-checkbox:checked ~ label {
	background-color: var(--colour5);
}

nav li.nav-dropdown button {
	display: none;
}
	
nav ul {
	max-height: 0;
	background-color: var(--colour1);
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	transition: 0.5s;
}

nav input#menu-checkbox:checked ~ ul {
	max-height: 100vh;
}

nav a, nav label{
	display: block;
	text-align: center;
	padding: 8px 10px;
	color: white;
	text-decoration: none;
	font-size: 1rem;
	transition: 0.1s;
}

nav a:hover {
	background-color: var(--colour3);
}

nav a:active {
	background-color: var(--colour5);
}

nav button {
	background-color: var(--colour1);
	color: white;
	border: none;
	font-family: serif;
	font-size: 1rem;
	cursor: pointer;
	transition: 0.1s;
}

nav button:hover {
	background-color: var(--colour3);
}

nav button:active {
	background-color: var(--colour5);
}

nav button:focus {
	background-color: var(--colour5);
}

main {
	flex-grow: 1;
	padding: 20px;
}

main > h1 {
	display: inline-block;
	margin: 0;
}

main > section {
	margin: 20px 0;
}

form > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

form div.error {
	margin-left: auto;
}

form div.error span::after {
	content: "\a";
	white-space: pre;
}

form input:not(.button) {
	display: block;
	order: 2;
	width: 100%;
	margin: 10px 0 20px 0;
	padding: 8px;
	border: 2px solid var(--darkgrey);
	font-family: inherit;
	font-size: inherit;
	outline: none;
	transition: 0.1s;
}

form input[type="file"] {
	border: none;
	padding: 0;
}

form input[type="file"]::file-selector-button {
	margin: 0;
	margin-right: 10px;
	padding: 8px;
	border: none;
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;
	color: var(--white);
	background-color: var(--colour1);
	transition: 0.1s;
}

form input[type="file"]::file-selector-button:hover {
	background-color: var(--colour3);
}

form input[type="file"]::file-selector-button:active {
	background-color: var(--colour5);
}

form input[type="number"] {
	width: 100px;
	margin-right: calc(100% - 100px);
}

form input[type="checkbox"]:not(.button) {
	appearance: none;
	box-sizing: content-box;
	font-size: 18px;
	height: 1em;
	width: 1em;
	margin-right: calc(100% - 1em - 20px);
}

form input[type="checkbox"]:not(.button):checked {
	border-color: var(--colour5);
}

form input[type="checkbox"]:not(.button)::after {
	content: "";
	position: relative;
	display: inline-block;
	left: 2px;
	bottom: 3px;
	width: 0.5em;
	height: 1em;
	border: solid var(--colour5);
	border-width: 0 4px 4px 0;
	transform: rotate(0) scale(0);
	transition: transform 0.05s;
}

form input[type="checkbox"]:not(.button):checked::after {
	transform: rotate(45deg) scale(1);
}

form input:hover {
	border-color: var(--colour3);
}

form input:focus {
	border-color: var(--colour5);
}

form textarea {
	order: 2;
	width: 100%;
	margin: 10px 0 20px 0;
	padding: 8px;
	border: 2px solid var(--darkgrey);
	font-family: inherit;
	font-size: inherit;
	resize: vertical;
	outline: none;
	transition: 0.1s;
}

form textarea:hover {
	border-color: var(--colour3);
}

form textarea:focus {
	border-color: var(--colour5);
}

form input[type="submit"] {
	width: auto;
	margin: 0;
	margin-left: auto;
	padding: 10px;
	background-color: var(--colour1);
	color: white;
	border: none;
	cursor: pointer;
	transition: 0.1s;
}

form input[type="submit"]:hover {
	background-color: var(--colour3);
}

form input[type="submit"]:focus {
	background-color: var(--colour5);
}

form.search {
	display: flex;
	gap: 10px;
}

form.search input[type="search"] {
	flex: 1;
	margin: auto;
}

form.search input[type="submit"] {
	float: none;
	margin: auto;
}

.pagination {
	display: inline-block;
	position: relative;
	margin: 20px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.pagination a {
	color: var(--black);
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: 0.1s;
}

.pagination a.active {
	background-color: var(--darkgrey);
}

.pagination a:hover:not(.active) {
	background-color: var(--lightgrey);
}

.pagination a:active:not(.active) {
	background-color: var(--grey);
}

.recipe-list {
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	gap: 20px;
}

.recipe-card {
	padding: 10px 20px;
	width: 25em;
	border: 1px solid var(--darkgrey);
	border-radius: 5px;
	text-align: left;
	white-space: nowrap;
}

.recipe-card > * {
	margin: 2px 0 0 0;
	padding: 6px 0 8px 0;
	position: relative;
	overflow: hidden;
}

.recipe-card > p::after, h2::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 10%;
	height: 100%;
	background-image: linear-gradient(to left, white, transparent);
}

.recipe-card .recipe-info {
	display: flex;
	border-top: 1px solid var(--darkgrey);
	border-bottom: 1px solid var(--darkgrey);
}

.recipe-card .recipe-info span {
	flex-grow: 1;
}

.recipe-list .recipe-card {
	flex: 0 1 100%;
}

.scroll-box {
	margin: 20px 0;
	padding: 0;
	border: 1px solid var(--darkgrey);
	border-radius: 10px 10px 0 0;
	background-color: var(--lightgrey);
}

.scroll-box h3 {
	margin: 10px 20px;
	font-weight: bold;
}

.scroll {
	overflow: auto;
	white-space: nowrap;
	padding: 20px;
	border-top: 1px solid var(--darkgrey);
	background-color: #fff;
}

.scroll-card {
	display: inline-block;
	margin: 0;
	margin-right: 20px;
	vertical-align: middle;
}

.vegetarian::before {
	content: "v";
	font-size: 90%;
	color: white;
	background-color: green;
	vertical-align: middle;
	text-align: center;
	line-height: 1;
	display: inline-block;
	width: 1em;	
	height: 1em;
	border-radius: 1em;
	transform: translateY(-0.1em);
}

.tab-view {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	margin-top: 20px;
	border: 1px solid var(--darkgrey);
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	background-color: var(--lightgrey);
}

.tab-view [class^="tab-button"] {
	appearance: none;
	outline: none;
	order: 1;
	display: inline-block;
	margin: 0;
	padding: 8px 10px;
	font-size: inherit;
	font-family: inherit;
	text-decoration: none;
	color: var(--black);
	cursor: pointer;
	transition: 0.1s;
}

.tab-view .tab-button-right:first-of-type {
	margin-left: auto;
}

.tab-view [class^="tab-button"]:hover {
	background-color: var(--grey);
}

.tab-view [class^="tab-button"]:checked {
	background-color: var(--darkgrey);
}

.tab-view [class^="tab-button"]::after {
	content: attr(value);
}

.tab-view .tab-content {
	order: 2;
	display: none;
	width: 100%;
	margin: 0;
	padding: 20px;
	border-top: 1px solid var(--darkgrey);
	background-color: white;
}

.tab-view [class^="tab-button"]:checked + .tab-content {
	display: block;
}


.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal.hidden {
	display: none;
}

.modal .modal-content {
	background-color: var(--white);;
	margin: 30vh auto;
	padding: 20px;
	width: 90%;
	max-width: 50em;
	border-radius: 5px;
	transform: translateY(-50%);
}

.modal .modal-content .modal-title {
	margin-top: 8px;
}

input[type="checkbox"]:checked + .modal {
	display: block;
}

.profile-pic {
	border: 1px solid var(--darkgrey);
	border-radius: 50%;
	height: 100%;
	width: auto;
}

.profile-pic-left {
	float: left;
	margin-right: 20px;
	width: 5em;
	height: 5em;
}

.update-profile-pic-container {
	display: block;
	position: relative;
	width: 10em;
	height: 10em;
	margin: 0 auto;
}

.update-profile-pic-container .profile-pic {
	opacity: 50%;
}

.update-profile-pic-container .profile-pic-buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.update-profile-pic-container .profile-pic-buttons * {
	flex-shrink: 1;
	flex-grow: 0;
}

.user-link {
	box-sizing: content-box;
	margin: 0;
	padding: 10px 0;
	height: 2em;
}

.user-link:not(:last-child) {
	border-bottom: 1px solid var(--darkgrey);
}

.user-link .profile-pic {
	vertical-align: middle;
}

.user-link span {
	margin-left: 10px;
}

.info-horizontal {
	display: flex;
	flex-flow: row wrap;
	gap: 0 10px;
}

.tags span {
	padding: 4px 12px;
	margin-right: 5px;
	border-radius: 12px;
	background-color: var(--lightgrey);
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown.right {
	float: right;
}

.dropdown .dropdown-button {
	cursor: pointer;
	font-weight: 900;
}

.dropdown .dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--white);
	border: 1px solid var(--grey);
	border-radius: 5px;
	overflow: hidden;
	min-width: 160px;
	margin-top: 5px;
	z-index: 1;
}

.dropdown.right .dropdown-content {
	right: 0;
}

.dropdown .dropdown-content .button {
	color: var(--black);
	padding: 12px 16px;
	display: block;
}

.dropdown .dropdown-button:focus ~ .dropdown-content, .dropdown .dropdown-content:hover {
	display: block;
}

footer {
	padding: 10px;
	background-color: var(--colour4);
	color: white;
	text-align: center;
}

@media only screen and (min-width: 800px) {
	/* small */
	nav {
		position: sticky;
		top: 0;
	}

	nav label {
		display: none;
	}

	nav ul {
		max-height: none;
	}

	nav li {
		float: left;
	}

	nav li.right {
		float: right;
	}

	nav li.nav-dropdown {
		display: inline-block;
	}

	nav li.nav-dropdown button {
		display: block;
		margin: 0;
		text-align: center;
		padding: 8px 10px;
	}

	nav .nav-dropdown .dropdown-content {
		display: none;
		position: absolute;
		right: 0;
		background-color: var(--colour1);
		z-index: 1;
		transition: 0.1s;
	}

	nav li.nav-dropdown button:focus ~ .dropdown-content {
		display: block;
	}

	nav .nav-dropdown .dropdown-content:hover {
		display: block;
	}

	nav .nav-dropdown .dropdown-content a {
		text-align: right;
	}
	
	.recipe-list .recipe-card {
		flex-basis: calc(50% - 10px);
	}
}

@media only screen and (min-width: 1200px) {
	/* medium */
	.recipe-list .recipe-card {
		flex-basis: calc((100% / 3) - (40px / 3));
	}
}

@media only screen and (min-width: 1600px) {
	/* large */
	.recipe-list .recipe-card {
		flex-basis: calc(25% - 15px);
	}
}
